body{
	margin: 0;
	font-family: 'Muli', sans-serif;
}
.primary-text{
  color:#47a0ce;
  display: inline;
}
.primary-background{
  background-color:#47a0ce;
}
.secondary-text{
  color:white;
}
.secondary-background{
  background-color: white;
}

main{
	width: 100%;
}

/*Header*/

#header{
	width: 100%;
	height: 80px;
	line-height: 80px;
	overflow: auto;
	margin-bottom: 50px;
}
#header .logo{
	width: 40%;
	float: left;
	display: inline-block;
}
#header .logo img{
	width: 15%;
	display: inline-block;
	vertical-align: middle;
	/* margin: 10px 0px 0px 80px; */
}
#logotype{
	font-size: 30px;
}
.mainprofile{
	width: 60%;
	text-align: center;
	float: left;
}
.mainprofile img{
	margin-bottom: 15px;
	border: 1px solid #bfbfbf;
}
.button{
	background-color: white;
	width: 100px;
	height: 30px;
	padding: 6px 0px 0px 0px;
	margin: 25px 55px;
	border-radius: 5px;
	text-align: center;
	float: right;
}
.stats hr{
	width: 60%;
}
.content{
	width: 80%;
	float: left;	
}
.col{
	width: 100%;
	float: left;
}
.col-25{
	width: 25%;
	margin-bottom: 50px;
}
.col-50{
	width: 50%;
}
#profile{
	margin-left: 50px;
}
.stats{
	border: 1px solid #bfbfbf;
}
.follow-info{
	padding: 20px;
	border: 1px solid #bfbfbf;
}
.follow-info span{
	margin-right: 60px;
}
.tweets{
	height: 345px;
	padding: 4px 24px 20px 24px;
	border: 1px solid #bfbfbf;
}
.blue-button{
	background-color: #47a0ce;
	width: 80px;
	height: 30px;
	padding: 7px 8px 0px 8px;
	margin: -38px 0px 18px 386px;
	border-radius: 5px;
	text-align: center;
}
.who-follow{
	width: 75%;
	height: 350px;
	text-align: center;
	border: 1px solid #bfbfbf;
}
#who img{
	width: 15%;
	border: none;
} 
#footer{
	width: 100%;
	height: 80px;
	padding: 20px 0px 30px 0px;
	text-align: center;
	clear: both;
}
#footer img{
	width: 5%;
	margin-right: auto;
	margin-left: auto;
	padding: 0px 0px 10px 0px;
	display: block;
}
#footer ul{
	padding: 0;
	list-style-type: none;
}
#footer li{
	margin-right: 10px;
	display: inline;
}
#footer ul li a{
	text-decoration: none;
	color: white;
}
#footer ul li a:hover{
	opacity: 0.8;
}